<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
    .content {
    margin: auto;
    width: 20%;
    border: 3px solid transparent;
    padding: 10px;
    }
</style>
</head>
<body>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div align="center">
                        <h1>Create New Product</h1>
                        <br>
                        <form action="#" th:action="@{/save}" th:object="${product}" method="post">
                            <table border="0" cellpadding="10">
                                <tr>
                                    <td>Brand:</td>
                                    <td><input type="text" th:field="*{brand}"></td>
                                </tr>
                                <tr>
                                    <td>Model:</td>
                                    <td><input type="text" th:field="*{model}"></td>
                                </tr>
                                <tr>
                                    <td>Liters:</td>
                                    <td><input type="text" th:field="*{liters}"></td>
                                </tr>
                                <tr>
                                    <td>Horsepower:</td>
                                    <td><input type="text" th:field="*{hp}"></td>
                                </tr>
                                <tr>
                                    <td>Price:</td>
                                    <td><input type="text" th:field="*{price}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>